


.userText{
  color: #213F7D;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
padding: 50px 50px;

}


.Tabs{
  display: flex;
  align-items: center;
  justify-content: center;
 padding: 0 50px;

}
.headTabs {
  width: 210px;
  height: 160px;
  flex-shrink: 1;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  background: #fff;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding: 15px 20px;
  
  margin-top: 20px;
  margin-right: 13px;
}


.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.title {
  font-family: "workSansMedium", sans-serif;
  color: #545f7d;
  font-size: 13px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0;

font-family: Work Sans;
}
.number {
  color: #213f7d;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
font-family: Work Sans;
}
.secondContainer {
  margin: 30px 50px;
   min-width: 550px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding: 20px 15px;
  /* overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;  */
  /* max-height: 400px;  */
}


.images{
  width: 17px;
  height: 16px;
  flex-shrink: 0;
  margin-left: 10px;
}

.tableData td {
min-width: 100px;
border: none;
padding-bottom: 20px;
padding-top: 20px;
border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}


  tr .thead {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 40px;
    color: #545f7d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    font-family: Work Sans;
    padding: 20px 0;

    

  }

  tr .tdata2 {
    text-transform: none;
   
  }

  tr .pending {
    width: 90px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(233, 178, 0, 0.1);
    color: #e9b200;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
  }
  tr .active {
    width: 70px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(57, 205, 98, 0.1);
    color: #39cd62;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
  }
  tr .blacklist {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(228, 3, 59, 0.1);
    color: #e4033b;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8px;
  }

  tr .tdata {
    display: flex;
    align-items: center;
    color: #545f7d;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
  }

  .containerclass{
    display: flex;
    justify-content: flex-end;
    color: #213F7D;
    align-items: center;
    margin: 30px 55px;
    cursor: pointer;
    gap:20px;
    font-family: Work Sans;
  font-size: 14px;
  }


.active{
  background-color: #213F7D;
  width: 19px;
  height: 19px;
  color:#fff ;
  text-align: center;
}


.next{
 background-color:  #a4b3cf;
 color:#fff ;
 width: 19px;
height: 19px;
text-align: center;
flex-shrink: 0;
}


.previous{
  background-color:  #a4b3cf;
  color:#fff ;
  width: 50px;
 height: 19px;
 flex-shrink: 1;
 text-align: center;
}

.link{
  display: none;
}

.eachli{
  display: none;
}